<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IFCTerrain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.999" newVersion="1.0.0.999" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <IFCTerrain.Properties.Settings>
      <setting name="initialDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="readTinFilterIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ifcVersion" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ifcShape" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ifcBreakL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ifcName" serializeAs="String">
        <value>Terrain</value>
      </setting>
      <setting name="givenName" serializeAs="String">
        <value>Klaus</value>
      </setting>
      <setting name="familyName" serializeAs="String">
        <value>Mustermann</value>
      </setting>
      <setting name="company" serializeAs="String">
        <value>HTW Dresden</value>
      </setting>
      <setting name="minDistance" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="is3D" serializeAs="String">
        <value>False</value>
      </setting>
    </IFCTerrain.Properties.Settings>
  </userSettings>
</configuration>